--extra-index-url https://download.pytorch.org/whl/cpu

langchain-core
langgraph
langchain-anthropic

pydantic

python-dotenv

libcst

ruff
pytest

chromadb

torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
